*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 15px;
}

header{
    padding-top: 1px 0;     /* hack CSS des marges débordantes */
}

h3{
    text-align: center;
}

nav a{                     /* Espacement en les titres du menu */
    margin: 0 1em;
}

a{
    text-decoration: none;  /* Enleve le surlignage des liens */
    color: yellow;        /* Couleur du texte en Yellow */
    font-weight: bolder     /* Mets les textes en gras */
}

article{
    width: 680px;
    height: auto;
    padding: 2%;
    margin: 0;
    border-radius: 15px;    /* Bordure arrondi sur l'article */
    border: solid;          /* Bordure sur l'article */
}

aside{
    width: 250px;
    height: auto;
    padding: 2%;
    border: solid;       /* Bordure sur l'aside */
    margin: 0;
    border-radius: 15px; /* Bordure arrondi sur l'aside */
}

footer{
    border-top: solid; /* Bordure du footer */
}

header img{
    width: 100%;
    vertical-align: bottom;  /* hack CSS de la baseline des images */
    border-top: solid;       /* Bordure sur l'image */
    border-bottom: dotted;   /* Bordure en pointiller */
}

 section img{                /* Chaque Image vos 1 block */
    flex: 1;                  
} 

#pack div img{
    width: 100%;
}

aside img{
    border: solid;           /* Bordure sur l'image */
    height: auto;            /* Hauteur de l'image */
    width: auto;             /* Largeur de l'image */
}

main{
    display: flex;                   /* fait s'aligner son contenu DIRECT (enfants de premier niveau)*/
    margin: 15px;                    /* Marge entre le "main" et le "container" */
    justify-content: space-around;   /* Espace correctement L'article et l'aside dans le main */
}

article h1:first-child{
    margin: 0;
}

#container{
    background-color: rgb(118, 0, 165);   /* Couleur du background de toute la page */
    max-width: 1024px;                      /* Largeur de toute la page */
    margin: auto;                           /* Marge de la page */
	border: solid;                          /* Bordure de la page */
    
/*
    margin: 16px; haut&droite&bas&gauche
    margin: 8px 0; haut&bas, gauche&droite 
    margin: 8px 4px 0; haut, gauche&droite, bas 
    margin: 8px 6px 4px 0; haut, droite, bas, gauche 
*/
}

.block-haut{
    text-align: center;            /* Aligne le texte centre du header */
    font-family: MysticalSnow;     /* Police du texte */
    background-color: grey;      /* Couleur du background du header */
    margin: 0px;                   /* Taille de la marge */
}

.block-bas{
    text-align: center;          /* Aligne le texte au centre du footer */
    font-family: MysticalSnow;   /* Police du texte */
    margin: 0px;                 /* Taille de la marge */
}

.menu{
    text-align: center;
    padding-top: 18px;                                        /* Espace du padding au top du menu */
    padding-bottom: 18px;                                     /* Espace du padding au bottom du menu */
    border-bottom: dotted;                                    /* Bordure en pointiller en bas du menu */
    background-color: rgb(118, 0, 165);                     /* Couleur du background du Menu */
    font-family: Verdana, Geneva, Tahoma, sans-serif;         /* Police du texte */
}

#pack{
    display: flex;
    justify-content: center; /* Place au centre les images et les colles */
    padding-top: 1.2em;
}

.block-yellow{
    background-color: yellow;                        /* Couleur du background des block Yellow */
    font-family: Verdana, Geneva, Tahoma, sans-serif;  /* Police du texte */
}

.block-grey{
    background-color: grey;          /* Couleur du background des block Grey */
    padding: 10px;                     /* Espace du padding général des block Grey */
}

.center-text{
    text-align: center;  /* Aligne les textes au centre */
}
.bolder{
    font-weight: bolder; /* Mets les textes en gras */
}

#bart{
    border-left: solid;
    border-right: solid;
}

#marge{
    border-left: solid;
}
#lisa{
    border-right: solid;
}
@font-face{                 /* Intégrer une police au css */
	font-family: "MysticalSnow";
	src: url("MysticalSnow.ttf") format("truetype");
}